:root {
  --fg: #111;
  --fg-perma-dark: #111;
  --fg-perma-light: #eee;
  --bg: #eee;

  --btn-primary: #7a856b;
  --btn-secondary: #e3e8e3;
  
  --accent: #77c66a;

  --global-roundness: 2px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --fg: #eee;
    --bg: #111;
    --btn-secondary: #404440;
  }
}

body {
  margin: 0;
  padding: 0;
  color: var(--fg);
  background-color: var(--bg);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

a {
  color: var(--fg);
  text-decoration: none;
}

h6,
h5,
h4,
h3,
h2,
h1 {
  margin: 0;
}

h1 {
  color: var(--accent);
}

button {
  font-size: 1.5rem;
  color: var(--fg);
  background-color: var(--btn-primary);
  border: none;
  border-radius: var(--global-roundness);
  cursor: pointer;
  flex-grow: 1;
  width: 100%;
  transition: 100ms;
}

button:hover {
  background-color: var(--accent);
}

button:active {
  scale: 0.9;
}

label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

input {
  font-size: 1rem;
  color: var(--fg);
  background-color: var(--bg);
  border: 1px solid var(--btn-primary);
  border-radius: var(--global-roundness);
  outline: none;
  transition: 200ms;
}

input:focus {
  border: 2px solid var(--accent);
}